<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DesktopHranitel.Properties.Settings.User06ConnectionString"
            connectionString="Data Source=wsr-server;Initial Catalog=User06;User ID=User06;Password=NKSX4NHH"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>